# ===== Visual Studio =====
.vs/
**/.vs/

# ===== Build output =====
bin/
obj/

# ===== User-specific files =====
*.user
*.suo
*.userosscache
*.sln.docstates

# ===== Local configs / secrets =====
**/Properties/launchSettings.json
